//BOOTSTRAP
@import "~bootstrap/scss/bootstrap.scss";
@import 'bootstrap-vue/dist/bootstrap-vue.css';

//FONTAWESOME
$fa-font-path: "@/webfonts";

@import "@fortawesome/fontawesome-free/scss/fontawesome.scss";
@import "@fortawesome/fontawesome-free/scss/solid.scss";
@import "@fortawesome/fontawesome-free/scss/regular.scss";

body{
    min-width: 992px;
}
*::-webkit-scrollbar {
    width: 16px;
  }

  *::-webkit-scrollbar-track {
    background: #ffffff;
  }

  *::-webkit-scrollbar-thumb {
    background-color: #dc3545;
    border-radius: 10px;
    border: 3px solid #ffffff;
  }