//text-colors
$ac-green: #3ADC79;
$ac-lightblue:#a3b5ca;
$ac-orange:#f28202;
$ac-red:#ff3a2d;
$ac-salmon:#d74d52;
$ac-gray:#777777;
$ac-dgray:#555555;
$ac-blue:#192836;

//basic_colors
$ac-white: #ffffff;
$ac-black: #000000;

//container-size
$ac-width: 60%;

//font-size
$jb-size: 65px;

//font-family
$jb-family: 'IBM Plex Serif', serif;
