//text-colors
$ac-green: #3ADC79;
$ac-lightblue:#a3b5ca;
$ac-orange:#f28202;
$ac-red:#ff3a2d;
$ac-salmon:#dc5559;
$ac-gray:#777777;
$ac-dgray:#555555;
$ac-blue:#192836;
$ac-foot: #7b8c9f;

//basic_colors
$ac-white: #ffffff;
$ac-black: #000000;

//width
$ac-width: 60%;
$title-width: 70%;
$p-width: 50%;
//font-size
$jb-size: 65px;
$num-size: 55px;

//font-family
$jb-family: 'IBM Plex Serif', serif;
$num-family: 'Lato', sans-serif;

